@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
div.gm-style {
    font-family: "Noto Sans", sans-serif;
}
#map {
    width: 100%;
    height: 80%;
}

#main-content {
    position: relative;
}

#network-condition {
    position: fixed;
    top: 10%;
    left: 45%;
    width: 10%;
    z-index: 99;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 203, 200);
    border-radius: 15px;
    border: 2px solid black;

    /* start off hidden */
    display: none;
}

#crosshair {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 10;
}

#crosshair img {
	width: 40px;
	height: 40px;
	max-weidth: 80vw;
	max-height: 80vw;
}

#makeMarkerButton {
    position: fixed;
	left: 60%;
	top: 60%;
    margin: 2rem 35%;
    background-color: #52918b;
    width: 40px;
    min-height: 50px;
    padding: 7px;
    border: .25rem solid #52918b;
    font-size: 20px;
    font-weight: bold;
	z-index: 11;
}

#makeMarkerButton:hover {
    background-color: whitesmoke;
    border-color: #52918b;
    transition-duration: 0.2s;
    color: #52918b;
    cursor: pointer;
}

#makeMarkerButton:active {
    box-shadow: 0 0px #afaeae;
    transform: translateY(2px);
    transition-duration: 0s;
}

.markerDiv
{	width: 50px;
	height: 50px;
	background-color: white;
	border: solid black;
}

.expand {
    width: 300px;
    height: 100px;
}
