<script defer src="/JS/accountPage.js"></script>
<a id="sign-up-btn" href="/sign-up">Sign Up</a>
<a id="log-in-btn" href="/log-in">Log In</a>
<a id="log-out-btn" href="#" id="log-out-btn">Log Out</a>

