<script defer src="/JS/accountPage.js"></script>

<div id="main-menu">
    <h1 id="email-header">email goes here</h1>
    <a id="sign-up-btn" class="btn" href="/sign-up">
        <i class="fa-solid fa-user-plus menu-icon"></i>
        <span>Sign Up</p>
    </a>
    <a id="log-in-btn" class="btn" href="/log-in">
        <i class="fa-solid fa-right-to-bracket menu-icon"></i>
        <span>Log In</p>
    </a>
    <a id="log-out-btn" class="btn" href="#">
        <i class="fa-solid fa-right-from-bracket menu-icon"></i>
        <span>Log Out</p>
    </a>
</div>


