<script defer src="/JS/accountPage.js"></script>
<div id="main-menu">
    <a id="sign-up-btn" class="menu-btn" href="/sign-up">Sign Up</a>
    <a id="log-in-btn" class="menu-btn" href="/log-in">Log In</a>
    <a id="log-out-btn" class=" menu-btn" href="#">Log Out</a>
    <p id="debug-text"></p>
</div>
