<script defer src="/JS/accountPage.js"></script>
<div id="main-menu">
    <a id="sign-up-btn" class="menu-btn" href="/sign-up">Sign Up</a>
    <a id="log-in-btn" class="menu-btn" href="/log-in">
        <i class="fa-solid fa-right-to-bracket menu-icon"></i>
        <span>Log In</span>
    </a>
    <a id="log-out-btn" class="menu-btn" href="#">
        <i class="fa-solid fa-right-from-bracket menu-icon"></i>
        <span>Log Out</span>
    </a>
</div>
