<div id="main-menu">
    <a class="menu-btn" href="map">
        <i class="fa-solid fa-map menu-icon"></i>
        <span>Map</p>
    </a>
    <a class="menu-btn" href="/policy">
        <i class="fa-solid fa-gavel menu-icon"></i>
        <span>Legal</p>
    </a>
</div>

