<a href="map">Maps</a>
<p>&copy; 2025 Group 38. All rights reserved.</p>
<ul class="footer-links">
    <li><a href="/policy">Privacy Policy</a></li>
    <li><a href="/policy">Terms of Service</a></li>
</ul>
