<div class="form-container" id="login-container">
    <h2 id="title-banner">Log In</h2>
    <form id="logInForm">
        <div class="form-group">
            <label for="loginEmail">Email</label>
            <input type="email" id="loginEmail" name="email" required />
        </div>
        <div class="form-group">
            <label for="loginPassword">Password</label>
            <input
                type="password"
                id="loginPassword"
                name="password"
                required
            />
        </div>
        <button type="submit" class="btn">Log In</button>
    </form>
    <p>
        <a href="#" id="forgotPasswordLink">Forgot Password?</a>
    </p>
    <p>Don't have an account? <a href="sign-up">Sign Up</a></p>
</div>

<script src="/JS/logIn.js"></script>
<div class="form-container" id="forgotPassword-container" style="display: none">
    <h2 id="pass-title-banner">Forgot Password</h2>
    <form id="forgotPasswordForm">
        <div class="form-group">
            <label for="forgotEmail">Email</label>
            <input type="email" id="forgotEmail" name="email" required />
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
    <p>
        <a href="#" id="backToLoginLink">Back to Log In</a>
    </p>
</div>
