<div id="map"></div>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx1nDqigjyOixfMY4kj485EaIkEi1VXX0&loading=async&callback=initMap"></script>
<link rel="stylesheet" href="CSS/style.css">
<script src="/JS/map.js"></script>
