<h1>Privacy Policy, Terms of Service, and End User Licence Agreement (EULA)</h1>
<p>&copy; 2025 Group 38. All rights reserved.</p>
<div style="display: flex; justify-content: center">
    <div style="overflow: auto; width: 75%; height: 50vh">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nibh
        lorem, efficitur eget dignissim vitae, finibus et ante. In congue
        dignissim metus non suscipit. Vestibulum blandit et dui at ultricies.
        Donec malesuada nulla lectus, ac finibus odio volutpat in. Ut mattis
        massa eu iaculis vestibulum. Ut tristique sem eu pulvinar fermentum.
        Donec sodales tortor condimentum nibh scelerisque, sed semper augue
        lobortis. Nam cursus tortor consequat tellus viverra scelerisque. Proin
        consequat tincidunt tortor vel finibus. Nulla vitae sem tempus, eleifend
        risus et, ultrices nibh. You scrolled to the bottom and found me, not
        sure what you were expecting but here I am. Morbi gravida congue neque
        eu commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
</div>