<script src="/JS/reset-password.js"></script>
<div class="form-container" id="login-container">
    <h2 id="reset-title-banner">Reset Password</h2>
    <form id="resetPassForm">
        <div class="form-group">
            <label for="loginEmail">One Time Code</label>
            <input type="text" id="uniqueCode" name="uniqueCode" required />
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
                type="password"
                id="newPassword"
                name="newPassword"
                required
            />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                required
            />
        </div>
        <button type="submit" class="btn">Save</button>
    </form>
    <p>Change your mind? <a href="log-in">Log In</a></p>
</div>
