<script src="/JS/signUp.js"></script>

<div class="form-container">
    <h1 id="title-banner">Sign Up</h1>
    <form id="signUpForm">
        <div class="form-group">
            <label for="email"><i class="fa-solid fa-at"></i> Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
            <label for="password">
                <i class="fa-solid fa-key"></i> Password
            </label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
            <label for="confirmPassword">
                <i class="fa-solid fa-key"></i> 
                Confirm Password</label>
            <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                required
            />
        </div>
        <button type="submit" class="btn">
            <i class="fa-solid fa-arrow-right menu-icon"></i>
            <span>Sign Up</span>
        </button>
    </form>
    <p>Already have an account? <a href="log-in">Log In</a></p>
</div>
