<div>
    <h1> Your Public Profile </h1>

    <h2><%- params.name %> <%- params.surname %></h2>
    <section class="bio-container">
        <h2>Bio:</h2><hr>
        <p> <%- params.profile %></p>    
    </section>

    <section class="bio-container">
        <h2>Groups:</h2><hr>
        <p>This user is in these groups add a little menu here idk I'll do it tomorrow I'm tired</I></p>
    </section>

    <br>
    <br>
    <a href="/settings" class="btn">Edit Profile</a>
    <br>
    <br>
    
</div>